.input {
    padding: 0 15px;
    margin: 5px 0 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
}

.input:focus {
    outline: none;
    border-color: #ff7200;
}

