h3:hover {
    color: #ff7200;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.order-selector {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    border-color: transparent;
    width: 200px;
}

.order-selector label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.order-selector select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.menu-wrapper {
    width: 70%;
}

.food-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    box-sizing: border-box;
}

.menu-item {
    padding: 30px;
    margin: 8.5px;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0.7rem 3rem rgba(0,0,0,0.07);
}

img {
    max-width: 200px;
    height: 200px;
}


